@import 'tailwindcss';
@import './styles/color.css';
@import './styles/fonts.css';
@import './styles/theme.css';

@theme {
  --font-sans: 'Pretendard', sans-serif;
}
@import './styles/animation.css';

html, body {
  overflow: hidden;
  height: 100%;
  position: fixed;
  width: 100%;
}